{% include "./parts/header.html" %}
<body id="projects_show" class="projects project"> 
{% include "./parts/nav.html" %}

<div id="wrapper">
{% include "./parts/menu.html" %}
 
<div id="content">
{% if logged %}
<h3>填写课程内容和联系方式</h3>
<form accept-charset="UTF-8" action="/projects" class="new_preproject" id="new_preproject" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="N4fsaSMEBdGuS1aAbLddiXb8JH5RCXE2R273W5AB8h4="></div>
<div class="checkiiinu"><input name="project[agreement]" type="hidden" value="0"><input id="project_agreement" name="project[agreement]" type="checkbox" value="1">我已经了解并且同意公开课的项目申请准则与规范</div>
</form></div>
<div class="container smssa">
<ul class="smssaul" style="width:90%">
<li><p>您的课程名称：</p><input class="inputregoff stext" id="project_name" name="project[name]" onblur="this.className='inputregoff stext'" onfocus="this.className='inputregon stext'" size="30" type="text"><span>不必是最终版本，日后还可以修改</span></li>

<li><p>请说明您课程内容：</p>
<div class="afterthedeadline-button " style="position: relative; top: 2043px; left: 523px; ">&nbsp;</div><textarea class="inputregoff stext" cols="40" id="project_intro" name="project[intro]" onblur="this.className='inputregoff stext'" onfocus="this.className='inputregon stext'" rows="20"></textarea>
<span>1000字以内，简单扼要即可</span></li>

<li><p>是否希望我们协助拍摄课程视频：</p>
<input class="radios" id="project_need_filming_false" name="project[need_filming]" type="radio" value="false"><strong>是</strong><br>
<input class="radios" id="project_need_filming_true" name="project[need_filming]" type="radio" value="true"><strong id="project_need_filming">否</strong></li>
<li>
<ul>
<li style="width:840px;"><p>您的背景、专长、从事的行业：</p>
<div class="afterthedeadline-button  " style="position: relative; top: 2727px; left: 523px; ">&nbsp;</div><textarea class="inputregoff stext" cols="40" id="project_experience" name="project[experience]" onblur="this.className='inputregoff stext'" onfocus="this.className='inputregon stext'" rows="20"></textarea>
</li>
<li><p>是否之前教过类似课程：</p>
<input class="radios" id="project_experienced_true" name="project[experienced]" type="radio" value="true"><strong>是</strong>
<input class="radios" id="project_experienced_false" name="project[experienced]" type="radio" value="false"><strong id="project_experienced">否</strong></li>
<li><p>您的手机：</p><input class="inputregoff stext" id="user_mobile" name="user[mobile]" onblur="this.className='inputregoff stext'" onfocus="this.className='inputregon stext'" size="30" type="text"></li>
<li><p>您的邮箱：</p><input class="inputregoff stext" id="user_email" name="user[email]" onblur="this.className='inputregoff stext'" onfocus="this.className='inputregon stext'" size="30" type="text" value="wuyouz@msn.com">
<span>如有修改将连同注册的邮箱一并更新</span></li>
</ul>
</li>
</ul>
<a href="#new_preproject_submit" class="input_onoff_on submit"><span>送出申请</span></a>
{% else %}
<div class="leftcol"> 
<p>您必须 <a href="/dlogin" class="on02"><img src="/image/douban.png" alt="login with douban id"/></a> 才能申请 </p> 
</div> 
{% endif %}
</div>
{% include "./parts/footer.html" %} 
</div>
</body> 
</html> 


