{% include "./parts/header.html" %}
<body id="home_index" class="home index"> 
{% include "./parts/nav.html" %}
 
<div id="wrapper">
{% include "./parts/menu.html" %}

<div id="course-brief">
	<div>
	<a href="/course/{{lecture.course.id}}">{{course.title}}</a>
	{% if logged %}
{% if registered %}
<form class="fright" action="/course/{{course.id}}/quit/"><input type="submit"  method="post" value="退出"/></form>
{% else %}
<form class="fright" action="/course/{{course.id}}/register/"><input type="submit"  method="post" value="报名"/></form>
{% endif %}
{% endif %}
<div>
	<p>{{course.introduction}}</p>
</div>
<div id="lecture" class="block-list"> 
<div class="urllist">
{% for lecture in course.lecture_set.all %}
<ul> 
<li class="list02"><a href="/lecture/{{lecture.id}}" title="{{lecture.title}}">{{lecture.title}}</a></li>
<li class="list01"><a href="/lecture/{{lecture.id}}" title="{{lecture.title}}"><img alt="{{lecture.title}}}" src="/image/{{lecture.poster}}"></a></li> 
<li class="list03">{{lecture.introduction}}</li> 
<li class="list04"> 
<div class="projectstats"> 
<p class="widtha"><strong>{{lecture.duration}}分钟</strong></p> 
</div>
</li> 
</ul> 
{% endfor %}
</div> 
</div> 
{% include "./parts/footer.html" %} 
</div> 
</body> 
</html> 

