{% include "./parts/header.html" %}
<body id="home_index" class="home index"> 
{% include "./parts/nav.html" %}
<div id="wrapper">
{% include "./parts/menu.html" %}
<div id="course" class="block-list"> 
<div class="urllist"> 
{% for course in course_list %}	
<ul>
<li class="list01"><a href="/course/{{course.id}}" title="{{course.title}}"><h2>{{course.title}}</h2><img src="image/{{course.poster}}" alt="{{course.title}}"></a></li> 
<li class="list02"><a href="/user/{{course.teachers.all|first}}">{{course.teachers.all|first}}</a> 发起于 <a href="/shcool/{{course.school.id}}"><strong> {{course.school}}</strong></a></li> 
<li class="list03">{{course.introduction}}</li> 
<li class="list04"> 
<div class="coursestat"> 
<p class="widtha"><strong>50%</strong>进度</p> 
<p class="widthb"><strong>28</strong>人数</p> 
</div></li> 
</ul> 
{% endfor %}
</div> 
</div> 
{% include "./parts/footer.html" %}
</div> 
</body> 
</html> 

