{% include "./parts/header.html" %}
<body id="lecture-forum" > 
{% include "./parts/nav.html" %} 
<div id="wrapper">
{% include "./parts/menu.html" %}
{% include "./parts/lecture-nav.html" %}

<div id=content> 
<div id="forum"  class="leftcol"> 
{% if not expand_question %}

{% if logged %}
<div class="ask-question" > 
<form accept-charset="UTF-8" action="/lecture/{{lecture.id}}/forum/ask" class="new_comment" id="new_comment" method="post">
	{% csrf_token %}
标题：<input type="text" maxlength="140" size="50" name="title" /><span class="bn-flat"><input type="submit"  value="提问" /></span>  
<textarea cols="40" id="comment_content" name="content" rows="3"></textarea> 
</form> 
</div> 
{% else %}
<div class="comment_login displayoff"> 
<p>您必须 <a href="/dlogin" class="on02"><img src="/image/douban.png" alt="login with douban id"/></a> 才能提问 </p> 
</div> 
{% endif %}


<hr />
<ul class="mbt" id="list_question">

{% for question in question_list %}
<li id="question_{{question.id}}">   
<div class="mbtl"><a href="/user/user.id" class="user">{{question.user.first_name}}</a></div>
<div class="mbtr"><span id="title"><p>{{question.title}}</p></span><p>{{question.content|linebreaksbr}}</p><a href="/lecture/{{lecture.id}}/forum/question/{{question.id}}/" class="fright">回复（{{question.answer_set.all|length}}）</a></div> 
</li>
{% endfor %}
</ul>

{% else %}<!-- single question mode-->

<ul class="mbt" id="list_question">
<li id="question_{{expand_question.id}}">   
<div class="mbtl"><a href="/user/user.id" class="user">{{expand_question.user.first_name}}</a></div>
<div class="fright"><a href="/lecture/{{lecture.id}}/forum">回论坛</a></div>
<div class="mbtr"><span id="title"><p>{{expand_question.title}}</p></span><p>{{expand_question.content}}</p></div> 
</li>

{% if logged %}
<div class="ask-question" > 
<form accept-charset="UTF-8" action="/lecture/{{lecture.id}}/forum/question/{{expand_question.id}}/reply" class="new_reply" id="new_reply" method="post">
	{% csrf_token %} 
<textarea cols="40" id="comment_content" name="content" rows="3"></textarea> 
<span class="bn-flat"><input type="submit"  value="回答" /></span>  
</form> 
</div> 
{% else %}
<div class="comment_login displayoff"> 
<p>您必须 <a href="/dlogin" class="on02"><img src="/image/douban.png" alt="login with douban id"/></a> 才能回答 </p> 
</div> 
{% endif %}

<div id="answers">
{% for answer in expand_question.answer_set.all %}
<li id="answer_{{answer.id}}">   
<div class="mbtl"><a href="/user/user.id" class="user">{{answer.user.first_name}}</a></div>
<div class="mbtr"><p>{{answer.content|linebreaksbr}}</p></div>
</li>
{% endfor %}
<div>

{% endif %}
</ul>
</div>
{% include "./parts/lecture-info.html" %}
</div>
{% include "./parts/footer.html" %} 
</div> 
</body> 
</html> 

