{% include "./parts/header.html" %}
<body id="projects_show" class="projects project"> 
{% include "./parts/nav.html" %}

<div id="wrapper">
{% include "./parts/menu.html" %}
{% include "./parts/lecture-nav.html" %}

<div id=content> 
<div id="lecture-vedio" class="leftcol"> 
<embed src="http://player.youku.com/player.php/sid/{{lecture.vedio_id}}/v.swf" allowFullScreen="true" quality="high" width="560" height="467" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
<div id=about style="line-height:normal;padding:0px;margin:0px" class="paboutimages"> 
<h3 class=dotty>内容提要</h3> 
</div>
<div>{{lecture.outline|linebreaksbr}}</div>
</div> 

{% include "./parts/lecture-info.html" %}
</div>
{% include "./parts/footer.html" %} 
</div>
</body> 
</html> 

