{% include "./parts/header.html" %}
<body id="projects_show" class="projects project"> 
{% include "./parts/nav.html" %}

<div id="wrapper">
{% include "./parts/menu.html" %}
 
<div id="content">
{% block content %}

  {% if form.errors or is_failed %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

  <form action="/login" method="post">
    <label for="username">用户名：</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">密码：</label>
    <input type="password" name="password" value="" id="password">
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next|escape }}" />
  </form>

{% endblock %}

</div>
{% include "./parts/footer.html" %} 
</div>
</body> 
</html> 
